{{define "content"}}
<blockquote>
  <p>
    This will allow you to add other instances that will ring at the same
    intervals as this one. The secret key is <span class="secret">Boots</span>
  </p>
</blockquote>

<form method="POST">
  <h2>Peers</h2>
  <label for="text">Peer Endpoint</label>
  <input placeholder="(ex: 192.168.0.1)" type="text" name="endpoint" required />
  <label for="text">Secret</label>
  <input placeholder="Secret" type="password" name="secret" required />
  <input type="submit" class="button-basic" value="Add" />
</form>

<div class="list">
  {{ range $key, $value := . }}
  <div class="job">
    <p>{{ $value.Endpoint }}</p>
    <a href="/peers/remove?id={{ $value.ID }}" class="button-basic">Delete Peer</a>
  </div>
  {{end}}
</div>
{{end}}
